@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.googleFont {
    font-family: 'Permanent Marker', cursive;
}

.crossout {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
}

.img {
    height: 100px;
    width: 100px;
}
